################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Estudio-Arbizu-Azure/.vs/Estudio-Arbizu-Azure/v15
